.mainPage {
  left: '100px';
  top: '300px';
  position: 'relative';
  width:' 1000px ';
  background-image:url('https://img1.baidu.com/it/u=3339245679,4162353878&fm=253&fmt=auto&app=138&f=JPEG?w=1180&h=369');
}
